<% if current_user.shopping_cart.errors.any? %>
	<div id="error_explanation">
		<p><%= current_user.shopping_cart.errors[:products][0] %></p>
	</div>
<% end %>

<table class="table table-striped">	
	<tr>
		<th>Name</th>
		<th>Brand</th>
		<th>Model</th>
		<th>Price</th>
		<th colspan="1"></th>
	</tr>
	<% current_user.shopping_cart.reload.products.each do |product| %>
		<tr>
			<td><%= product.name %> </td>
			<td><%= product.brand %> </td>
			<td><%= product.model %> </td>
			<td><%= product.price %> </td>
			<td>
				<%= link_to shopping_cart_remove_product_path(product), method: 'delete', class: "btn btn-default" do %>
			    <i class="glyphicon glyphicon-trash"></i> 
				<% end %>
			</td>
		</tr>
	<% end %>
	<tr>
		<td colspan="5"><strong>Total: </strong><%= current_user.shopping_cart.total_price %></td>
	</tr>
</table>