<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="row">

<% @products.each do |product| %>
  <div class='col-md-3' >
    <ul class='list-group'>
      <li class='list-group-item product-name'><strong><%= link_to product.name, '#', data: { id: product.id } %></strong></li>
      <li class='list-group-item'><strong>Brand: </strong><%= product.brand %></li>
      <li class='list-group-item'><strong>Model: </strong><%= product.model %></li>
      <li class='list-group-item'><strong>Price: </strong><%= product.price %></li>
    </ul>
  </div>  
<% end %>

<div class='product'></div>

<script>
$('li.product-name').on('click', 'a', function(e){
  e.preventDefault();
  var self = this;
  $.get('/products/' + $(self).data('id')).done(function(data){
    $('.product').html(data);
    $('.modal').modal('show');
  });
});
</script>