<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @product.name %></h4>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Brand:</dt>
          <dd class='brand'><%= @product.brand %></dd>
          <dt>Model:</dt>
          <dd class='model'><%= @product.model %></dd>
          <dt>Price:</dt>
          <dd class='price'><%= @product.price %></dd>
          <dt>SKU:</dt>
          <dd class='sku'><%= @product.sku %></dd>
          <dt>Description:</dt>
          <dd class='desc'><%= @product.desc %></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to "Add to cart", shopping_cart_add_product_path(@product), class: "btn btn-primary add-to-cart" if current_user.present?%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
