<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Virtual Shop</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">		        
		        <li><%= link_to 'Home', root_path %></li>		       
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		      	<% if current_user.present? %>
		      		<li>
		      			<%= link_to shopping_cart_path, class: "btn btn-default" do %>
							    <i class="glyphicon glyphicon-shopping-cart"></i> 
								<% end %>			      		
							</li>	        
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My account <span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><%= link_to 'Log out', destroy_user_session_path, method: 'delete' %></li>
			          </ul>
			        </li>
			      <% else %>
			      	<li><%= link_to 'Log in', new_user_session_path %></li>
			      <% end %>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
    <%= yield %>
  </body>
</html>
